body{
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.calculadora{
    background-color: #050505ec;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
}

.cuerpo{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5vh;
}

.visor{
    font-size: 1.2em;
    width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
    box-sizing: border-box;
    margin: auto;
    padding: 2vh;
    color: #ffff;
    background-color: rgb(48, 46, 46);
    margin-bottom: 2vh;
}

.visor p{
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 0;
}

.column{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.cuerpo :first-child button{
    background-color: #e2af09;
}

.column button{
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    background-color: rgb(48, 46, 46);
    border: 2px solid black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}